In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.compose import TransformedTargetRegressor
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler

# Assignment 2 - Regression
### Predict the TOTAL COMPENSATION for this year. 

The data file provided is a salary survey for tech workers in Europe. We want to predict the total amount of compensation they bring in each year, based off of the details of their work. 

Some notes that will be important:
<ul>
    <li>The total compensation will need to be constructed, there is a column for salary, "Yearly brutto salary (without bonus and stocks) in EUR", as well as a column for bonus compensation, "Yearly bonus + stocks in EUR". 
    <li>Some categorical variables will need some work, and there isn't generally an exact answer. The main concern is things with categories that have a bunch of values with a very small count. For example, if there is only 1 person in City X, then that value likely needs to be addressed. We don't want it encoded into a new column of one 1 and thousands of 0s. 
    <li>There is an article exploring some of the data here: https://www.asdcode.de/2021/01/it-salary-survey-december-2020.html
    <li>Imputation and a bit of data manipulation will be required. 
    <li>Use any regression method you'd like. Some ones are closely related to what we've done, you may want to look at them, e.g. ExtraTreesRegressor. 
    <li>Initial accurracy, and potentially final accuracy, may not be great. When I made a plain model will little optimization the errors were large and the R2 was low. There is lots of room for optimization. 
    <li>Research challenge - try some work on the target, look into TransformedTargetRegressor and see if that helps. Recall in stats when we had skewed distributions... Maybe it helps, maybe it doesn't. 
    <li>EDA and data prep are up to you - you'll probably need to do a little exploring to figure out what cleanup is needed. When I did it, I did things kind of iteratively when I did it. For example, look at the value counts, figure out how to treat the different categories, clean something up, look at the results, potentially repeat if needed. After you figure out what needs to be done, you may be able to take some of those steps and incorporate them into a pipeline to be cleaner....
    <li><b>CRITICAL - Please make sure your code runs with RUN ALL. It should load the data that you're given, do all the processing, and spit out results. Comment out or remove anything that you've cleaned up and don't need - e.g. if you scaled a value manually, then moved that into a pipeline, don't leave the original scaling code active when the file is run.</b>
</ul>

### Details and Deliverables

You'll need to build code to produce the predictions. In particular, there's a few things that'll be marked:
<ul>
    <li>Please add a markdown cell at the bottom, and put in a few notes addressing the following:
    <ul>
        <li> Accuracy of your models with/without feature selection. Include both train/test for each. Please use R2 and RMSE. 
        <li> Feature Selection - Please identify what you did for feature selection. No need for a long explaination, something along the lines of "I did X, and the result was that 4 features were removed". Try at least 2 things. 
        <li> Hyperparameter Changes / Grid Search Improvements. What did you try, and why. Similar explaination to above, short. 
        <li> Overall this section should be roughly as long as this intro block - just outline what the results were, what you did to improve, and the results after. 
        <li> If you could use titles/bullet points I'd really appreciate it. 
    </ul>
    <li>Grade Breakdown:
    <ul>
        <li> Code is readable, there are comments: 20%
        <li> Explaination as defined above: 60% (20% each point)
        <li> Accuracy: 20% As compared to everyone else. This will be generously graded, I won't be surprised if overall accuracy is low for most people. 
    </ul>
</ul>

In [8]:
#Load Data
df = pd.read_csv("data/Euro_Salary.csv")
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1253,1248,24/11/2020 13:55:19,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df[393:396]

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type
393,24/11/2020 19:15:02,30.0,Male,Moscow,Software Engineer,5,0,Middle,C,C/C++,14712.0,0,30,Full-time employee,Unlimited contract,Russian,101-1000,Product
394,24/11/2020 19:15:49,33.0,Male,Berlin,Product Manager,5,5,Senior,NaN,Python,70000.0,800,30,Full-time employee,NaN,German,101-1000,Product
395,24/11/2020 19:19:30,35.0,Male,Berlin,QA Engineer,11,10,Senior,Java,"Python, Javascript / Typescript, .NET, Java / ...",74400.0,NaN,30,Full-time employee,Unlimited contract,English,101-1000,Product

In [10]:
#df.info()
df["Other technologies/programming languages you use often"].value_counts()

Javascript / Typescript                                                                   44
Python                                                                                    37
SQL                                                                                       31
AWS, Docker                                                                               16
Kotlin                                                                                    15
                                                                                          ..
Python, Ruby, Java / Scala, Go, Rust, AWS, Kubernetes, Docker, Terraform, helm, packer     1
Kotlin, SQL, AWS, Kubernetes, Docker                                                       1
Python, R, Go                                                                              1
C/C++, PHP, SQL                                                                            1
Python, AWS, Kubernetes, Docker, terraform, ansible                                        1
Name: Other technologies/programming languages you use often, Length: 562, dtype: int64

In [19]:
df.sample(20)

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type
1080,04/12/2020 11:18:51,25.0,Male,Hamburg,Software Engineer,1,1,Junior,C#,"Javascript / Typescript, .NET, SQL, Kubernetes",43500.0,NaN,28,Full-time employee,Unlimited contract,German,51-100,Startup
67,24/11/2020 11:38:22,45.0,Male,Schleswig-Holstein,Software Engineer,26,18,Senior,C#,"C/C++, .NET, SQL",93000.0,10000,30,Full-time employee,Unlimited contract,German,1000+,Product
786,26/11/2020 19:22:45,31.0,Male,Berlin,Software Engineer,8,3,Senior,Typescript,"Javascript / Typescript, Java / Scala, Go, Rus...",80000.0,0,28,Full-time employee,Unlimited contract,English,1000+,Product
390,24/11/2020 19:09:32,25.0,Male,Berlin,Backend Developer,5,0,Middle,Java,"Python, Kotlin, Java / Scala, SQL, AWS, Google...",80000.0,NaN,30,Full-time employee,Unlimited contract,English,1000+,Startup
1027,01/12/2020 12:29:04,28.0,Male,Berlin,Data Scientist,6,6,Lead,"Python, SQL","Python, Javascript / Typescript, SQL, AWS, Goo...",78000.0,0,26,Full-time employee,Unlimited contract,English,51-100,Consulting / Agency
1056,02/12/2020 14:43:40,30.0,Male,Berlin,Software Engineer,10,2,Middle,iOS,NaN,71000.0,NaN,27,Full-time employee,Unlimited contract,English,101-1000,Product
281,24/11/2020 15:07:35,28.0,Male,Berlin,Frontend Developer,8,5,Senior,Javascript,NaN,68000.0,NaN,NaN,Full-time employee,NaN,NaN,NaN,NaN
1108,07/12/2020 09:25:26,32.0,Male,Berlin,Backend Developer,10,5,Senior,Node.js,"Javascript / Typescript, SQL, Google Cloud, Ku...",80000.0,NaN,24,Full-time employee,Unlimited contract,English,11-50,Startup
116,24/11/2020 11:57:37,28.0,Female,Munich,QA Engineer,6,2,Middle,NaN,NaN,65000.0,3000,25,Full-time employee,Unlimited contract,English,1000+,Product
364,24/11/2020 18:27:22,29.0,Male,Berlin,Backend Developer,11,2,Senior,Python,"Python, Go, AWS, Kubernetes, Docker",85000.0,4000,30,Full-time employee,Unlimited contract,English,51-100,Product
208,24/11/2020 13:07:24,38.0,Male,Berlin,Software Engineer,16,1,Senior,Python,"Python, Javascript / Typescript, Java / Scala,...",65000.0,NaN,26,Full-time employee,Unlimited contract,English,1000+,Product
986,30/11/2020 19:23:52,27.0,Male,Berlin,Frontend Developer,5,1,Middle,"Javascript, Angular",Javascript / Typescript,58000.0,58000,25,Full-time employee,Unlimited contract,English,101-1000,Startup
1023,01/12/2020 10:04:53,36.0,Male,Stockholm,Mobile Developer,14,7,Senior,Java,Kotlin,80000.0,NaN,30,Full-time employee,Unlimited contract,English,1000+,Product
234,24/11/2020 13:55:19,25.0,Male,Munich,ML Engineer,1,1,Middle,Python,"Python, C/C++, Swift, Matlab",65000.0,2000,30,Full-time employee,Unlimited contract,English,1000+,Product
421,24/11/2020 20:28:49,34.0,Male,Berlin,Mobile Developer,9,2,Senior,Android,"Kotlin, Java / Scala",72000.0,12,27,Full-time employee,Unlimited contract,English,1000+,Product
143,24/11/2020 12:09:31,35.0,Male,Berlin,System Administrator,14,1,Middle,NaN,NaN,44000.0,NaN,27,Full-time employee,Temporary contract,English,101-1000,Startup
368,24/11/2020 18:36:46,31.0,Male,Munich,Software Engineer,11,1,Middle,Python,Docker,75000.0,NaN,unlimited,Full-time employee,Unlimited contract,English,1000+,Product
702,25/11/2020 21:10:17,37.0,Male,Stuttgart,Backend Developer,NaN,NaN,Senior,C#,NaN,70000.0,NaN,30,Full-time employee,Unlimited contract,NaN,NaN,NaN
163,24/11/2020 12:18:41,32.0,Male,Frankfurt,Network Engineer,10,2,Senior,Python,"Python, Docker",68500.0,6000,25,Full-time employee,Unlimited contract,English,101-1000,Product
942,30/11/2020 12:08:57,37.0,Female,Berlin,Data Scientist,8,0.5,Middle,Python,"SQL, AWS",67000.0,0,28,Full-time employee,Unlimited contract,English,1000+,Startup

# Answers and Explainations
(Expand/modify as needed)

### Results

### Feature Selection Activities

### Hyperparameter Changes